---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Link from "@components/Link.astro";
import { SITE, ABOUT, SOCIALS, EDUC, EXHIBITS } from "@consts";
import Image from "astro/components/Image.astro";

import avatar from "../assets/ABOUT_glitch_me.gif"
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
    <Container>
        <div class="grid grid-cols-1 h-full">
            <article>
                <p class="animate">
                    Hello there! I'm Minnie 🖖🏾
                </p>
                <p class="animate">
                    Filipino designer, coder, maker, tinkerer of things.<br>
                    Exploring the intersections of design, play and technology. <br>
                    Concerned about the climate, education, healthcare and accessibility.
                    
                </p>
            </article>
            <Image
                src={avatar}
                alt="Minnie Pangilinan"
                class="animate rounded w-full h-full object-cover object-center"
                width={500}
                height={500}
                />
            <article>
                <p class="animate">
                    I go by <i>kotsengkuba</i> in other spaces of the interwebz.
                </p>
                <p class="animate">
                    {SOCIALS.map(SOCIAL => (
                        <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                        {SOCIAL.NAME}
                        
                        </Link>
                        <span>
                            {`.`}
                        </span>
                    ))}
                </p>
            </article>
            <article>
                <p class="animate">
                    🚀 Open for commission and collabs!! Shoot an
                    <Link href="mailto:minnie.pangilinan@gmail.com" aria-label="Email" external>
                        email
                    </Link>
                </p>
            </article>
        </div>
        <div class="">
            <section>
                <article class="animate">
                    <h3>Education</h3>
                    <div class="align-middle">
                        {EDUC.map(edu => (
                            <div class="">
                                {edu.HREF != undefined? 
                                    <Link   href={edu.HREF} external aria-label={`${SITE.NAME} on ${edu.TITLE}`}>
                                        {edu.TITLE}
                                    </Link> :
                                    <span class="font-semibold">{edu.TITLE}</span>
                                }
                                <span class="text-gray-500 dark:text-gray-400"> | {edu.DATE}</span>
                                <div class="text-gray-500 dark:text-gray-400">{edu.DESCRIPTION}</div>
                            </div>
                        ))}
                    </div>
                </article>
                <article class="animate">
                    <h3>Past Collaborators and Clients</h3>
                    University of the Philippines College of Fine Arts FabLab, 
                    UnionBank of the Philippines, 
                    University of the Philippines Surgical Innovations and Biotechnology Laboratory (SIBOL),
                    ATA Martial Arts Studio,
                    CLOOP,
                    Alcazaren Bros. Animation (Kwanimation Studios)
                </article>
                <article class="animate">
                    <h3>Exhibitions and Recognitions</h3>
                    <div class="">
                        {EXHIBITS.map(exhibit => (
                            <div class="animate">
                                {exhibit.HREF != undefined? 
                                    <Link   href={exhibit.HREF} external aria-label={`${SITE.NAME} on ${exhibit.TITLE}`}>
                                        {exhibit.TITLE}
                                    </Link> :
                                    <span class="font-semibold">{exhibit.TITLE}</span>
                                }
                                <span class="text-gray-500 dark:text-gray-400"> | {exhibit.DATE}</span>
                                <div class="text-gray-400 dark:text-gray-700">{exhibit.DESCRIPTION}</div>
                            </div>
                        ))}
                    </div>    
                </article>
            </section>
        </div>  
    </Container>
</PageLayout>
